/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*〓ＰＣ・スマホ共通スタイル〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*--あいことば入力ページ--------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
body{
	margin:5vw 0;
	overflow-y:auto;
	background:url(../images/bg2.jpg);
	text-align:center;
}
div.pass h1{
	font-size:4.5vw;
	line-height:100%;
	margin:2vw 0 15vw 0;
	padding:0 0 1vw 0;
	background:url(../images/lines.png) bottom center no-repeat;
	background-size:70% auto;
}
div.pass form input.text{
	font-size:6vw;
	text-align:center;
	border:none;
	padding:2vw 0;
	-webkit-box-shadow:0 0.5vw 0.5vw #111;
	   -moz-box-shadow:0 0.5vw 0.5vw #111;
	        box-shadow:0 0.5vw 0.5vw #111;
	width:80%;
}
div.pass form span.btm{
	font-size:4.5vw;
	font-weight:bold;
	line-height:100%;
	padding:2.5vw 0;
	margin:2vw auto;
	background:rgb(255,204,0);
	border-bottom:0.5vw solid rgb(199,80,0);
	border-radius:0.8vw;
	display:block;
	width:50%;
	cursor:pointer;
}
div.pass div#error{
	font-size:5vw;
	font-weight:bold;
	background:#fff;
	color:red;
	margin:2vw 0;
	padding:1.8vw 0;
	text-shadow:0 0.3vw #000;
	display:none;
	width:100%;
	-webkit-box-shadow:0 0.5vw 0.5vw #111;
	   -moz-box-shadow:0 0.5vw 0.5vw #111;
	        box-shadow:0 0.5vw 0.5vw #111;
}
div.pass p{
	font-size:3.5vw;
	line-height:100%;
	margin:2vw 4vw;
	border-radius:1.5vw;
	padding:2vw 0;
	background:#fff;
}
/*------------------------------------------------------------------------------------------------------*/
/*--プレゼントページ------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
div.present div.data{
	font-size:5vw;
}
div.present div.data h1{
	font-size:5.5vw;
	line-height:100%;
	margin:1.5vw 0;
	padding:0 0 1vw 0;
	background:url(../images/lines.png) bottom center no-repeat;
	background-size:50% 20%;
}
div.present div.data h1.error{
	color:red;
	padding:5vw 0;
	background:#fff;
	-webkit-box-shadow:0 3px 3px #111;
	   -moz-box-shadow:0 3px 3px #111;
	        box-shadow:0 3px 3px #111;
}
div.present div.data h1 span{
	font-size:3.5vw;
	line-height:100%;
	display:block;
}
div.present div.data img{
	width:45%;
	border:2px solid #000;
	-webkit-box-shadow:0 3px 3px #111;
	   -moz-box-shadow:0 3px 3px #111;
	        box-shadow:0 3px 3px #111;
}
div.present div.data p{
	font-size:3.5vw;
	margin:2vw 0;
	padding:0.5vw 0;
	background:#fff;
	-webkit-box-shadow:0 3px 3px #111;
	   -moz-box-shadow:0 3px 3px #111;
	        box-shadow:0 3px 3px #111;
}
div.present div.data ul{
	font-size:0;
	padding:0;
	margin:0 auto;
	width:85%;
}
div.present div.data ul li{
	display:inline-block;
	width:39%;
	margin:0 1vw;
}
div.present div.data ul li.long{width:80.5%;}
div.present div.data ul li a{
	font-size:2.8vw;
	padding:3.5vw 0;
	display:inline-block;
	width:100%;
}
div.present a{
	font-size:3.5vw;
	font-weight:bold;
	line-height:100%;
	text-decoration:none;
	color:#000;
	padding:1.5vw 0;
	margin:0.5vw auto;
	background:rgb(255,204,0);
	border-bottom:0.5vw solid rgb(199,80,0);
	border-radius:0.8vw;
	display:block;
	width:70%;

}
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/
/*〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓*/